doctype
html
    head
        title Helllolll
        include ../includes/head/scripts.pug
        include ../includes/head/scripts-for-admin.pug
    body
        div(class="container")
            block content
            footer
                ul
                    each val in menu
                        li
                            a(href="/api" + val.url)=val.label
